
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ assetUrl('css/bootstrap.css') }}" />
    {% endblock %}

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <style>
      body {
        background-color: #fcfdff;
      }
      ul {
        list-style: none;
      }
    </style>
  </head>

  <body>
    {% include 'frontend/layouts/app_header.html' %}
    <div class="container-fluid">
      <div class="row">
        {% include 'frontend/layouts/sidebar.html' %}
        <div style="position:absolute;left:50%">
          <ul>
                {% for msg in flash('error') %}
                    <li class="alert alert-danger">{{ msg }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for msg in flash('success') %}
                    <li class="alert alert-success">{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
        {% block app_content %} {% endblock %}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ assetUrl('js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ assetUrl('js/popper.js') }}" type="text/javascript"></script>
    <script src="{{ assetUrl('js/bootstrap.js') }}" type="text/javascript"><script>
    <script>
      $('.dropdown-toggle').dropdown();
    </script>
  </body>
</html>
